<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <!-- materialize CSSのCDN経由での読み込み -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}動物識別アプリ{% endblock %}</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper teal">
        <div class="col s12">
          <a href="#" class="brand-logo" style="font-size:3vw">動物識別アプリ</a>
        </div>
      </div>
    </nav>
    <div class="contents" style="margin:0 10%">
      {% block content %}

      {% endblock %}

    </div>
  </body>
</html>